@import "blocks/normalize.scss";
@import "blocks/variables.scss";
@import "blocks/main.scss";
@import "blocks/card.scss";

html {
  font-family: "PT Sans", sans-serif;
  font-size: 10px;
  height: 100%;
  width: 100%;
  overflow-x: hidden;

  @media (min-width: 1920px) {
    font-size: 0.52vw;
  }
}

body {
  width: 100%;
  background-color: #f7f6f4;
  margin: 0 auto;
}

.container {
  max-width: 126rem;
  width: 80%;
  margin: 0 auto;

  @media (max-width: 1024px) {
    width: 90%;
    margin: 0 auto;
  }
}
